Your access code was sent to <strong><%= @secret.recipient.phone_number %></strong>. Click <a href="<%= @secret.secret_url %>">here</a> to view your secret message.
<br/>
<br/>
<a href="https://www.prompt-pass.com/about">About Pass Prompt</a>