<%= render partial: "partials/navigation" %>
<div class="row">
  <div class="small-10 small-centered columns msg-wrapper">
    <h3 class="mt1"><%= I18n.t("forms.pages.decrypted") %></h3>
    <div class="msg-body">
      <p class="p1">
        <textarea rows="4" cols="50" class="secret-text-background" readonly><%= secret.body %></textarea>
      </p>
    </div>
  </div>
  <p class="mice-type small-10 small-centered columns">*As soon as your close this window you will no longer have access to your secret message. It will be erased from the space time continuum.</p>
  <%= link_to "Send your own secret message!", create_secret_path, { class: "text-link" } %>
</div>
