<h1>
  Shhh! Someone sent you a secret.
</h1>
<%= simple_form_for secret, url: recipient_secrets_path, method: :post do |f| %>
  <%= f.input :password %>
  <%= f.submit I18n.t("forms.secrets.decrypt_button") %>
<% end %>
