<%= render partial: "partials/navigation" %>
<div class="row">
  <div class="small-10 small-centered columns msg-wrapper">
    <h3 class="mt1">404: Secret not found or the secret has been destroyed</h3>
    <div class="msg-body">
      <p class="p1">Secrets get destroyed after you view them.</p>
    </div>
  </div>
  <a class="text-link">Send your own secret message!</a>
</div>
