<div class="row access-code-wrapper">
  <div class="large-6 medium-8 small-12 columns medium-centered pt1">
    <h3>Looks like you're trying to view your secret message.</h3>
    <p class="text-center">Just enter the code that was sent to your phone.</p>
    <form class="pt1">
      <div class="row">
        <div class="medium-10 columns medium-centered">
          <label>SMS code</label>
          <input type="number" placeholder="example@example.com" />
        </div>
      </div>
      <div class="row">
        <div class="medium-10 columns medium-centered">
          <button class="submit">Access Secret Message</button>
        </div>
      </div>
    </form>
  </div>
</div>
