<%= render partial: "partials/navigation" %>
<div class="row">
  <div class="medium-9 small-12 columns medium-centered pt1">
    <h3>Write your secret message</h3>
    <form class="pt1">
      <div class="row">
        <div class="medium-6 columns">
          <label>Recipient's Email</label>
          <input type="email" placeholder="example@example.com" />
        </div>
        <div class="medium-6 columns">
          <label>Recipient's Phone Number</label>
          <input type="tel" placeholder="555-555-5555" />
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <label>Textarea Label</label>
          <textarea placeholder="Type a secret message!"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <button class="submit">Send your secret message</button>
        </div>
      </div>
    </form>
  </div>
</div>
