<%= render partial: "partials/navigation" %>
<div class="row fullWidth">
  <div class="large-12 columns fullWidth">
    <div class="banner">
      <div class="cta">
        <div class="display-logo">Prompt Pass<span class="blinking-cursor">|</span></div>
        <div class="tagline">Keep it secret. Keep it safe.</div>
      </div>
    </div>
    <div class="large-5 medium-7 small-11 demo-form-wrapper">
      <form>
        <div class="row p1">
          <div class="medium-12 columns">
            <h3>Try it out!</h3>
            <p>Test out PromptPass. Enter your phone number and email and we will send you a super secure message to your email. You will also receive a SMS authentication code.</p>
          </div>
          <div class="medium-12 columns">
            <label>Your Email</label>
            <input type="email" placeholder="example@example.com" />
          </div>
          <div class="medium-12 columns">
            <label>Your Phone Number</label>
            <input type="tel" placeholder="555-555-5555" />
          </div>
        </div>
        <button>Get the message</button>
      </form>
    </div>
  </div>
</div>
<div class="panel-bg fullWidth">
  <div class="row">
    <div class="large-12 columns pt1">
      <h3>How it works</h3>
    </div>
  </div>
  <div class="row pt1 howto-section" style="position:relative;">
    <div class="medium-4 columns">
      <p class="howto-step">Write the secret information that you want to send to someone.</p>
    </div>
    <div class="medium-4 columns">
      <!--  <div class="scene-container">
          <div style="width: 100%; height: 197px; z-index: 900; border: 1px solid #50B1BF; border-radius: 3px;" data-500="top:3%" data-1000="top:100%;" class="howto-icon">
            <div class="p1">Whoa, checkout this cool message that I can send to you through PromptPass! And it's totally secure!</div>
            <button class="fullWidth p1" data-500="opacity:1; display:block" data-800="opacity:0; display:none">Send your message!</button>
          </div>
        </div>-->
    </div>
    <div class="medium-4 columns">
      <p>You can send whatever you want. Have a password you need to share with a client? Your Granma's secret recipes? Doesn't matter what it is, all you have to know is that it will be secure.</p>
    </div>
  </div>
</div>
<div class="panel-bg fullWidth yellow-bg">
  <div class="row pt1 howto-section" style="position:relative;">
    <div class="medium-4 columns">
      <p class="howto-step white-text">Pick an email & phone number to send the link and message to.</p>
    </div>
    <div class="medium-4 columns"></div>
    <div class="medium-4 columns">
      <p class="white-text">As soon as you send your message we will fire off an email to the receiver with a link to your message. We will also send a SMS authentication code to their phone which they'll need to access the secret message.</p>
    </div>
  </div>
</div>
<div class="panel-bg fullWidth red-bg">
  <div class="row pt1 howto-section" style="position:relative;">
    <div class="medium-4 columns">
      <p class="howto-step white-text">Wait for your recepiant to view your secret message.</p>
    </div>
    <div class="medium-4 columns"></div>
    <div class="medium-4 columns">
      <p class="white-text">Once the person receiving the message has clicked on the link in their email all the informatio</p>
    </div>
  </div>
</div>
