<%= render partial: "partials/navigation" %>
<div class="row fullWidth fullHeight">
  <div class="large-12 columns fullWidth fullHeight">
    <div class="banner fullHeight">
      <div class="cta">
        <div class="display-logo">Prompt Pass<span class="blinking-cursor">|</span></div>
        <div class="tagline">Send secrets with secure two factor messaging</div>
      </div>
      <div class="large-5 medium-7 small-11 demo-form-wrapper">
        <form>
          <div class="row p1">
            <div class="medium-12 columns">
              <p class="white-text text-center">Prompt Pass wants to send you a secret message</p>
            </div>
            <div class="medium-6 columns">
              <label class="white-text">Your Email</label>
              <input type="email" placeholder="example@example.com" />
            </div>
            <div class="medium-6 columns">
              <label class="white-text">Your Phone Number</label>
              <input type="tel" placeholder="555-555-5555" />
            </div>
          </div>
          <button>Send me the message now!</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="panel-bg fullWidth">
  <div class="row">
    <div class="large-12 columns pt1">
      <h3>How it works</h3>
    </div>
  </div>
  <div class="howto-container">
    <img src="pipes.png">
  </div>
</div>
