<%= render partial: "partials/navigation" %>
<div class="row">
  <div class="small-10 small-centered columns msg-wrapper">
    <h3 class="mt1">Your Secret Message</h3>
    <div class="msg-body">
      <p class="p1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lectus metus, fringilla a porttitor eu, facilisis vel lorem. Duis at magna id purus vehicula bibendum. Aliquam suscipit eu nibh vitae fringilla. Etiam ullamcorper fringilla mauris mollis dignissim. Pellentesque id nibh lacinia, rhoncus nunc vitae, commodo tellus. Vestibulum ornare purus sit amet accumsan finibus. Praesent semper porttitor turpis et vulputate. Ut porta nunc eleifend justo aliquam, vel gravida tortor tempus. Vivamus eget lacus condimentum, varius dui convallis, tempor neque. Maecenas sit amet posuere arcu. Duis venenatis lorem at sapien commodo, eget tristique sem tristique. Pellentesque placerat scelerisque molestie. Curabitur nec felis purus.

        Nunc vel augue tortor. Nunc at ante porta, dictum magna et, ornare tellus. Quisque porttitor, lorem quis convallis ultrices, diam ante ornare diam, nec cursus arcu sapien ac elit. Sed gravida ultricies velit in faucibus. Suspendisse nibh mauris, interdum quis pulvinar at, luctus eget velit. Pellentesque fermentum vel lacus nec dictum. Curabitur tincidunt volutpat ex, ac malesuada felis efficitur et. Sed ut risus dapibus, interdum metus eget, mollis orci. Sed auctor a neque ac gravida. Sed accumsan id diam in aucto</p>
    </div>
  </div>
  <p class="mice-type small-10 small-centered columns">*As soon as your close this window you will no longer have access to this message. It will be erased from the space time continuum.</p>
  <a class="text-link">Send your own secret message!</a>
</div>
