$button-color: #29BCCB;
$yellow: #f2bd58;
$red: #E53D41;
$blue: #29BCCB;

/*Helper classes*/
.fullWidth{
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
   padding: 0;
}

.fullHeight{
    min-height: 100%;
    height: 100%;
}

.skrollable{
  position: absolute;
}

.pt1{
    padding-top: 20px;
}

.p1{
  padding: 20px;
}

p{
  color: #6A6868;
}

.mt1{
  margin-top: 20px;
}

.page-top-m{
  margin-top:70px;
}

.relative{
  position: relative;
  height: auto;
  min-height: 200px;
}

.blue-bg{
  background-color: $button-color;
}

.yellow-bg{
  background-color: $yellow;
}

.red-bg{
  background-color: $red;
}

.blue-bg{

}

.white-text{
  color: white;
}

.mice-type{
  font-size: 12px;
  font-weight: lighter;
  color: lighten($grey-text, 20%);
}

.text-link{
  text-align: center;
  text-decoration: underline;
  color: $button-color;
  display: block;
}

textarea[readonly].secret-text-background {
  background-color: white;
}

textarea[readonly].secret-text-background:hover {
  cursor: text;
}
