$button-color: #29BCCB;
$light-grey: #DFDFDF;
$grey-text: #6A6868;

 .banner{
   background: asset-url("traffic-bg.jpg");
   background-size: cover;
   background-position: center center;
   padding-top: 1px;
   position: relative;
   z-index: 300;
 }

 .banner-icon{
   min-width: 300px;
   max-width: 830px;
   min-height: 240px;
   background-size: contain;
   background-repeat: no-repeat;
   background-image: url("icon.png");
   background-position: center center;
   margin: 0 auto;
 }

 .cta{
   width: 100%;
   height: auto;
   margin-top: 130px;

   .tagline{
     width: 100%;
     color: white;
     text-align: center;
     font-size: 1.7rem;
   }
 }

 .blinking-cursor {
  font-size: 35px;
  color: transparent;
  width:2.5px;
  height: 10px;
  background: white;
  margin-left: 4px;
  -webkit-animation: 1.2s blink step-end infinite;
  -moz-animation: 1.2s blink step-end infinite;
  -ms-animation: 1.2s blink step-end infinite;
  -o-animation: 1.2s blink step-end infinite;
  animation: 1.2s blink step-end infinite;
  content: " ";
}

@keyframes "blink" {
  from, to {
    background: transparent;
  }
  50% {
    background: white;
  }
}

@-moz-keyframes blink {
  from, to {
    background: transparent;
  }
  50% {
    background: white;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    background: transparent;
  }
  50% {
    background: white;
  }
}

@-ms-keyframes "blink" {
  from, to {
    background: transparent;
  }
  50% {
    background: white;
  }
}

@-o-keyframes "blink" {
  from, to {
    background: transparent;
  }
  50% {
    background: white;
  }
}

 .display-logo{
   margin: 0 auto;
   font-family: 'Patua One', cursive;
   color: white;
   font-size: 70px;
   text-align: center;
   line-height: 63px;
 }

 .demo-form-wrapper{
   min-height: 280px;
   margin: 60px auto 0 auto;
   position: relative;
   z-index: 600;
   border: 1px solid white;
   border-radius: 4px;
   padding: 10px;
   background: rgba(7, 39, 63, 0.4)
 }

 .demo-form-wrapper button{
   margin: 0 auto 0 auto;
   display: block;
   border-radius: 2px;
   background-color: white;
   text-transform: uppercase;
   min-width: 93%;
   padding: 20px;
   color: #083B6E;
   bottom: 0;

   &:hover{
     background-color: #083B6E;
     color: white;
  }
 }

button{
   margin: 0 auto;
   display: block;
   background: $button-color;
   color: white;
   border-radius: 2px;
   text-transform: uppercase;
   min-width: 100%;
   padding: 25px;

   &:hover{
     background: darken(#29BCCB, 10%);
   }
 }

 .access-code-wrapper{
   margin-top: 40px;
 }

 .msg-wrapper{
   background: white;
   min-height: 300px;
   margin-top: 100px;
   border:1px solid $light-grey;
 }

 .panel-bg{
   padding-top: 1px;
 }

 .steps-pipe{
   position: absolute;
   top: -2px;
 }

 .howto-container {
   max-width: 800px;
   margin: 0 auto;
   text-align: center;
   position: relative;
   padding: 1px;
 }

 .howto-bg{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
 }

 .howto-step{
   z-index: 15;
   position: relative;
   height: auto;

   img{
    width: 170px;
    height: auto;
   }
 }

 .step1{
    margin: 180px auto 0 auto;

    img{
      width:220px;
    }
 }

 .step2{
    margin: 210px auto 0 -90px;
 }

 .step3{
    margin: 210px -90px 0 auto;
 }

 .step4{
   margin: 0 auto 0 auto;

   img{
     width: 240px;
   }
 }

 .step1-info{
    margin: 20px auto 0 auto;
 }

 .step2-info{
    margin: 80px auto 0 auto;
 }

 .step3-info{
    margin: 80px auto 0 auto;
 }


 .info{
   min-height: 180px;
   border: 2px solid #C2C2C2;
   background: white;
   padding: 12px;

   p{
     font-size: 0.875rem;
   }

   h4{
     text-transform: uppercase;
     font-size: 1rem;
     color: $grey-text;
   }
 }

/*animations*/

.howto-icon{
  position: absolute;
  width: 70px;
  height: 90px;
  left: 50%;
  margin-left: -35px;
  z-index: 14;
}

.secret-icon{
  -webkit-animation: secret 4s infinite; /* Chrome, Safari, Opera */
  -moz-animation: secret 4s infinite; /* Chrome, Safari, Opera */
  animation: secret 4s infinite;
}

.binary-icon{
  width: 135px;
  margin-left: -55px;
  top: 291px;
  -webkit-animation: binary 4s infinite; /* Chrome, Safari, Opera */
  -moz-animation: binary 4s infinite; /* Chrome, Safari, Opera */
  animation: binary 4s infinite;

  -webkit-animation-delay: 1.6s; /* Chrome, Safari, Opera */
  animation-delay: 1.6s;
}

.binary-icon2{
  width: 135px;
  margin-left: -55px;
  top: 291px;
  -webkit-animation: binaryright 4s infinite; /* Chrome, Safari, Opera */
  -moz-animation: binaryright 4s infinite; /* Chrome, Safari, Opera */
  animation: binaryright 4s infinite;

  -webkit-animation-delay: 1.6s; /* Chrome, Safari, Opera */
  animation-delay: 1.6s;
}

.key-icon{
  width: 60px;
  margin-left: 328px;
  top: 284px;
  -webkit-animation: key 4s infinite; /* Chrome, Safari, Opera */
  -moz-animation: key 4s infinite; /* Chrome, Safari, Opera */
  animation: key 4s infinite;
}

.lock-icon{
  width: 60px;
  top: 284px;
  -webkit-animation: lock 4s infinite; /* Chrome, Safari, Opera */
  -moz-animation: lock 4s infinite; /* Chrome, Safari, Opera */
  animation: lock 4s infinite;
}


/* Chrome, Safari, Opera */
@-webkit-keyframes secret {
    from {top: -90px;}
    to {top: 200px;}
}

@keyframes secret {
    from {top: -90px;}
    to {top: 200px;}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes binary {
    from {margin-left: -55px;}
    to {margin-left: -415px;}
}

@keyframes binary {
    from {margin-left: -55px;}
    to {margin-left: -415px;}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes binaryright {
    from {margin-left: -55px;}
    to {margin-left: 295px;}
}

@keyframes binaryright {
    from {margin-left: -65px;}
    to {margin-left: 295px;}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes key {
  0% {
    top: 284;
    left: 395px;
  }
  60% {
    top: 733px;
    left: 395px;
  }
  100%{
    top: 733px;
    left: 55px;
  }
}

@keyframes key {
  0% {
    top: 284;
    left: 395px;
  }
  60% {
    top: 733px;
    left: 395px;
  }
  100%{
    top: 733px;
    left: 55px;
  }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes lock {
  0% {
    top: 284;
    left: 55px;
  }
  60% {
    top: 733px;
    left: 55px;
  }
  100%{
    top: 733px;
    left: 105px;
  }
}

@keyframes lock {
  0% {
    top: 284;
    left: 50px;
  }
  60% {
    top: 725px;
    left: 50px;
  }
  100%{
    top: 725px;
    left: 370px;
  }
}



 /*overrides*/

 input:not([type]),
 input[type="text"],
 input[type="password"],
 input[type="date"],
 input[type="datetime"],
 input[type="datetime-local"],
 input[type="month"],
 input[type="week"],
 input[type="email"],
 input[type="number"],
 input[type="search"],
 input[type="tel"],
 input[type="time"],
 input[type="url"],
 input[type="color"],
 textarea{
   width: 100%;
   padding: 1.3em;
   line-height: 1.4em;
   font-size: 1.1rem;
   border-radius: 4px;
   border: 1px solid #e7e7e7;
   -webkit-appearance: none;
   box-shadow: none;
 }

 textarea{
   min-height: 350px;
 }

 label{
   text-transform: uppercase;
   color: #6A6868;
 }

 ::-webkit-input-placeholder {
    color: #D2D2D2;
 }

 :-moz-placeholder { /* Firefox 18- */
   color: #D2D2D2;
 }

 ::-moz-placeholder {  /* Firefox 19+ */
   color: #D2D2D2;
 }

 :-ms-input-placeholder {
    color: #D2D2D2;
 }

 h3{
   text-transform: uppercase;
   font-size: 1.4rem;
   width: auto;
   text-align: center;
 }
 .top-bar{
     height: 65px;
     border-bottom: 1px solid #DFDFDF;
     position: fixed;
     z-index: 900;
     width:100%;
 }
 .top-bar .row {
     max-width: 62.5rem;
 }

 .top-bar .title-area{
   margin-left: 3.5%;
 }

 .top-bar-section{
   margin-right: 3.5%;
 }

 .top-bar .name {
     height: 65px;

     h1 a{
       color: $grey-text;
       font-family: 'Patua One', cursive;
       font-size: 25px;
     }
 }

 .top-bar .name h1, .top-bar .name h2, .top-bar .name h3, .top-bar .name h4, .top-bar .name p, .top-bar .name span {
     line-height: 65px;
 }

 .top-bar-section ul li{
   background: none;
 }

 .top-bar-section ul li > a {
     font-size: 0.8rem;
     text-transform: uppercase;
     color: $grey-text;
 }

 .top-bar-section li:not(.has-form) a:not(.button){
   background: none;

   &:hover {
      color: $button-color;
      background-color: none;
      background: none;
  }
}

.top-bar.expanded {
    background: white;
    height: auto;
}

@media only screen and (min-width: 40.0625em){
  .top-bar-section li:not(.has-form) a:not(.button) {
      background: none;
      color: $grey-text;
      line-height: 65px;
  }
}
 @media only screen and (min-width: 58.75rem){
  .top-bar-section li.active:not(.has-form) a:not(.button){
      border-bottom: 1px solid #2ba6cb;
      color: black;
      line-height: 65px;
      padding: 0 0.9375rem;
  }

  .top-bar-section li:not(.has-form) a:not(.button){
      line-height: 65px;
      color: #6A6868;
      padding: 0 0.9375rem;
  }
}


 @media only screen and (max-width: 990px){
    .step2, .step3, .step1 {
      margin: 20px auto 0 auto;
    }
 }

 @media only screen and (max-width: 640px){
   .banner{
      min-height: 830px;
   }

    .fullHeight {
      min-height: 840px;
      height: 100%;
  }
 }
